<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>变换颜色样式 | <%- title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<style>
*{margin:0; padding:0;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
input,textarea{outline:none; resize:none; border:none;}
body,html{ height:100%;background:#cccccc;overflow:hidden;}
.title{
	text-align:center;
	height:40px;
	width:100%;
	top:0;
	background:#333333;
	color:#e5e5e5;
	line-height:40px;
	font-family: "微软雅黑";
	position:absolute;
	z-index:990;
}
#bg{
	width:1200px;
	height:600px;
	margin:50px auto;
	position:relative;
	box-shadow:5px 5px 10px #333333;
	text-align:center;
	overflow:hidden;
}
#btn{
	width:20px;
	height:100px;
	background:url(/opus/Y_07/img/bg_btn.png);
	position:absolute;
	z-index:100;
	right:100px;
	top:-30px;
	z-index:999;
	cursor:pointer;
}

.bg_1{background:url(/opus/Y_07/img/1.jpg);}
.bg_2{background:url(/opus/Y_07/img/2.jpg);}
.bg_3{background:url(/opus/Y_07/img/3.jpg);}
.bg_4{background:url(/opus/Y_07/img/4.jpg);}
.bg_5{background:url(/opus/Y_07/img/5.jpg);}
#desc{
	width:300px;
	height:420px;
	background:#000000;
	position:absolute;
	top:100px;
	left:650px;
	border-radius:10px;
	color:#ffffcc;
	opacity:0.8;
	z-index:2;
	filter:alpha(opacity=80);
}
#desc span{
	margin-top:15px;
	display:block;
	font-size:24px;
}
#desc div{
	font-size:14px;
	text-align:left;
	margin:15px;
}
#xx{
	width:100%;
	height:100%;
	position:relative;
}
#xx li{
	position:absolute;
	background:#000000;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	border-radius:50%;
	color:#e5e5e5;
	opacity:0.6;
	filter:alpha(opacity=60);
	left:200px;
	cursor:pointer;
}
#desc_title{
	position:absolute;
	background:#e5e5e5;
	width:60px;
	height:60px;
	line-height:60px;
	text-align:center;
	border-radius:50%;
	color:#000000;
	opacity:0.8;
	filter:alpha(opacity=80);
	top:300px;
	left:1000px;
	z-index:3;
	cursor:pointer;
}
</style>

<script>
window.onload = function(){
	//模拟数据
	var tempData = [
		{title:'文化',data:'文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化'},
		{title:'金融',data:'金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融金融'},
		{title:'房产',data:'房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产房产'},
		{title:'科技',data:'科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技科技'},
		{title:'健康',data:'健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康健康'},
		{title:'工业',data:'工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业工业'},
		{title:'旅游',data:'旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游旅游'},	
	];
	//工具方法
	function setCookie(name, value, iDay){
		var oDate=new Date();
		oDate.setDate(oDate.getDate()+iDay);
		document.cookie = name + '=' + value + ';expires=' + oDate;
	}
	function getCookie(name){
		var arr1 = document.cookie.split('; ');
		for(var i = 0; i < arr1.length; i++){
			var arr2 = arr1[i].split('=');
			if(arr2[0] == name) return arr2[1];
		}
	}
	function getStyle(obj,name){
		return (obj.currentStyle || getComputedStyle(obj,false))[name];
	}
	function animate(obj,json,fn){
		clearInterval(obj.timer);
		//总次数
		var count = Math.floor(700 / 30);
		var start = {};//起始位置
		var dis = {};//总距离
		for(var name in json){
			if(name=='opacity'){
				start[name] = Math.round(parseFloat(getStyle(obj,name))*100);
			}else{
				start[name] = parseInt(getStyle(obj,name));
			}
			dis[name] = json[name] - start[name];
		}
		//记录步数
		var n = 0;
		//开始运动
		obj.timer = setInterval(function(){
			n++;
			for(var name in json){
				//运动
				var a = 1 - n / count;
				var cur = start[name] + dis[name] * (1 - a * a * a);
				if(name == 'opacity'){
					obj.style.opacity = cur / 100;
					obj.style.filter = 'alpha(opacity:' + cur + ')';
				}else{
					obj.style[name]	= cur + 'px';
				}
			}
			if(n==count){
				clearInterval(obj.timer);
				fn && fn();
			}
		},30);
	}
	(function(){
		var oBtn = document.getElementById('btn');
		var oBg = document.getElementById('bg');
		var oldTop = oBtn.offsetTop;//记录原始top
		oBtn.onmousedown = function(ev){
			var oEvent = ev || event;
			var disY = oEvent.clientY - oldTop;
			document.onmousemove = function(ev){
				var oEvent = ev || event;
				var t = oEvent.clientY - disY;
				(t >= 0) && (t = 0);
				oBtn.style.top = t + 'px';
			}
			document.onmouseup = function(){
				document.onmousemove = document.onmouseup = null;

				if(parseInt(oBtn.style.top) == 0){
					//修改背景
					var num = Math.floor(Math.random() * 5 + 1);
					oBg.className = 'bg_' + num;
					setCookie('My_bg',num,30);
				}
				oBtn.style.top = oldTop + 'px';//还原位置 ，如果加运动 改这里
				oBtn.releaseCapture && oBtn.releaseCapture();
			}
			oBtn.setCapture && oBtn.setCapture();
			return false;
		};
	})();
	(function(){
		var oDesc = document.getElementById('desc');
		var timer = null;
		var t = 1;
		timer = setInterval(function(){
			(parseInt(getStyle(oDesc,'top')) >= 120) && (t = -1);
			(parseInt(getStyle(oDesc,'top')) <= 80) && (t = 1);
			oDesc.style.top = parseInt(getStyle(oDesc,'top')) + t + 'px';
		},30);
	})();
	(function(){
		var oUl = document.getElementById('xx');
		var aLi = oUl.children;
		var oDesc = document.getElementById('desc');
		var oSpan = oDesc.children[0];
		var oDiv = oDesc.children[1];
		var oTitle = document.getElementById('desc_title');
		var targetX = parseInt(getStyle(oDesc,'left')) - 80;
		var targetY = parseInt(getStyle(oDesc,'top')) + parseInt(getStyle(oDesc,'height')) / 2 - 30;
		for(var i = 0; i < aLi.length; i++){
			(function(index){
				var _width = parseInt(getStyle(aLi[index],'width'));
				var _height = parseInt(getStyle(aLi[index],'height'));
				var _left = parseInt(getStyle(aLi[index],'left'));
				var _top = parseInt(getStyle(aLi[index],'top'));
				var _lineHeight = parseInt(getStyle(aLi[index],'lineHeight'));
				aLi[index].onmouseover = function(){
					animate(this,{
						width : _width + 20,
						height : _height + 20,
						left : _left - 10,
						lineHeight : _lineHeight + 20,
						top :　_top - 10
					});
				};
				aLi[index].onmouseout = function(){
					animate(this,{
						width : _width,
						height : _height,
						left : _left,
						lineHeight : _lineHeight,
						top : _top
					});
				};
				aLi[index].onclick = function(){
					animate(this,{
						left : targetX,
						top : targetY
					});
					oTitle.innerHTML = oSpan.innerHTML = tempData[index].title;
					oDiv.innerHTML = tempData[index].data;
				};
			})(i);	
		}
	})();
	(function(){
		var oDesc = document.getElementById('desc');
		var oTitle = document.getElementById('desc_title');
		//中心点横坐标
		var dotLeft = parseInt(getStyle(oDesc,'left')) + parseInt(getStyle(oDesc,'width')) / 2;
		//alert(dotLeft);
		//中心点纵坐标
		var dotTop = parseInt(getStyle(oDesc,'top')) + parseInt(getStyle(oDesc,'height')) * 2 / 5;
		//alert(dotTop);
		//椭圆长边
		var oA = 280;   //240
		//椭圆短边
		var oB = 80;	//120
		//运动的速度
		var speed = 2;
		var timer = null;
		
		oTitle.style.left = dotLeft;
		oTitle.style.top = dotTop;
		oTitle.style.zIndex = 3;
		timer = setInterval(function(){
			//运运的速度
			speed = speed < 360 ? speed : 2;
			speed += 2;
			//运动距离，即运动的弧度数;
			var distance = speed * Math.PI / 180;
			var moonZindex = (Math.cos(distance) * oB) / dotTop;
			//运动公式
			oTitle.style.left = Math.sin(distance) * oA + dotLeft + 'px';
			oTitle.style.top = Math.cos(distance) * oB + dotTop + 'px';
			if(moonZindex <= 0){
				oTitle.style.zIndex = 1;
			}else{
				oTitle.style.zIndex = 3;
			}
			
		},30);	
	})();
	(function(){
		var oBg = document.getElementById('bg');
		var oCookie = getCookie('My_bg');
		if(oCookie){
			oBg.className = 'bg_' + oCookie;
		}else{
			oBg.className = 'bg_1';
		}
	})();
};
</script>

</head>

<body>
<div class="title">
	拉一拉 仿360换壁纸 简单运动 刷新一下 有cookie记录
</div>
<div id="bg">
	<div id="desc">
    	<span>文化</span>
        <div>
        	文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化文化
        </div>
    </div>
    <div id="desc_title">文化</div>
	<ul id="xx">
    	<li style="top:100px;">文化</li>
        <li style="top:160px;">金融</li>
        <li style="top:220px;">房产</li>
        <li style="top:280px;">科技</li>
        <li style="top:340px;">健康</li>
        <li style="top:400px;">工业</li>
        <li style="top:460px;">旅游</li>
    </ul>
	<div id="btn"></div>
</div>
</body>
</html>
