<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>IT酷鱼网 | Yves个人作品网 | 项目 -- 20140501版</title>
<link href="/css/common.css" rel="stylesheet" type="text/css" />
<script src="/js/MyQuery.js" ></script>
<script src="/js/MyCommon.js" ></script>
<script>
$(function(){
	var iMenuNum = 2;
	toMenu(iMenuNum);//封装后的公共菜单事件
});
</script>
</head>

<body>
<div class="body">
	<div class="top">
		<div class="logo">
        	<div class="sc">
            	<div class="item">
    				<div>
                    	<a href="###">
                    		<div class="item_content" title="联系电话">
                        		18210088607
        					</div>
                        </a>
        				<a class="link">
            				<span>
                            	<img alt="" src="/img/top_4.png" style="margin-top:-28px;"></img>
                				<img alt="" src="/img/top_4.png"></img>
            				</span>
       					</a>
    				</div>
				</div>
                <div class="item">
    				<div>
	                    <a href="###">
    	                	<div class="item_content" title="我的QQ">
        		                QQ:461836324
        					</div>
                        </a>
        				<a class="link">
            				<span>
	                            <img alt="" src="/img/top_3.png" style="margin-top:-28px;"></img>
                				<img alt="" src="/img/top_3.png"></img>
            				</span>
       					</a>
    				</div>
				</div>
                <div class="item">
    				<div>
	                    <a href="###">
                    		<div class="item_content" title="我的姓名">
                        		于春宇
        					</div>
                        </a>
        				<a class="link">
            				<span>
	                            <img alt="" src="/img/top_2.png" style="margin-top:-28px;"></img>
                				<img alt="" src="/img/top_2.png"></img>
            				</span>
       					</a>
    				</div>
				</div>
                
            </div>
        </div>
		<div class="menu" id="menu">
			<ul>
				<li><a href="/homepage" style="background-image:url(/img/menu_homepage.png);"></a></li>
				<li><a href="/profile" style="background-image:url(/img/menu_personage.png);"></a></li>
				<li><a href="/blog" style="background-image:url(/img/menu_article.png);"></a></li>
				<li><a href="/works" style="background-image:url(/img/menu_cases.png);"></a></li>
				<li><a href="/message" style="background-image:url(/img/menu_communication.png);"></a></li>
			</ul> 
			<div class="menu_slider">
				<div class="menu_slider_bar" id="menuSliderBar"></div>
				<div class="menu_slider_pointer" id="menuSliderPointer"></div>
			</div>
		</div>
    </div>
    <div class="center">
    	<div class="clear"></div>
    	<div class="center_box">
        	<div class="box_t"></div>
            <div class="box_m">
            	<div class="box_area">
                	<img class="fl inline" src="/img/text_project.png" />
                </div>
            </div>
            <div class="box_b"></div>
            
            <div class="box_t"></div>
            <div class="box_m">
            	<div class="box_area">
                	<img class="fl inline xmImg" src="/img/xm/xm_s_01.png"/>
                    <div class="fl inline xmTitletop" style="">环境保护部部门预算管理系统</div>
                    <div class="xmText fl inline">
                         <b>软件开发坏境：</b>WindowsXP + jdk1.5 +Tomcat<br>
                         <b>开发工具：</b>myeclipse+oracle<br>
                         <b>使用技术：</b>Struts2、Hibernate、Spring等<br>
                         <b>项目职能：</b>项目负责人<br>
                         <b>开发人数：</b>6人<br>
                         <b>开发周期：</b>2013年4月 ---- 2014年1月（含开发、测试、运维等周期）<br>
                         <b>项目备注：</b>一期工程、内网、已上线<br>
                         <b>项目描述：</b>该项目是为环保部预算处所开发的预算项目管理系统（一期工程、已上线）， 其主要功能是针对于内网的各司局人员每年的预算项目进行梳理，展示其公文文档等具体信息，方便预算处管理员对每一年的项目进行管理，方便统筹下发预算，目前该项目已经集成到内网的电子政务综合平台，现已上线。<br>
                         <b>系统功能：</b>成果管理模块、配置管理模块、系统管理模块等。<br>
						 <b>负责的模块：</b>成果注册、成果附件上传、在线浏览、成果删除、成果更新、内网系统界面功能开发。<br>
                         <b>技术描述：</b><br>
      &nbsp;&nbsp;&nbsp;&nbsp;1、在美工的设计图（注：内网展示页面）的基础上，进行切图，页面布局，包含首页、列表页、详细页面，实现该项目的页面js代码编写。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;2、后台开发主要是在公司项目组的原有框架基础上，对成果模块部分进行开发。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;3、利用Flexpaper和swftool等工具技术对pdf文件、word文档、excel表格、ppt幻灯片等文档进行swf格式转化，并在页面上进行展示，供内网人员阅读。<br>
                         <b>责任描述：</b><br>
      &nbsp;&nbsp;&nbsp;&nbsp;1、开发阶段，作为该项目的负责人，对所带领的团队开发人员的进行工作安排。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;2、测试阶段，与测试人员进行配合，测试并修改该项目出现的问题。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;3、部署阶段，部署该项目于环保部的内网机上，并进行调试。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;4、运维阶段，将各司局的发过来的资料进行梳理，划分类别，上传服务器。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;5、期间配合客户的要求对页面进行多次修改。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;6、编写修改相应技术文档手册，例如系统维护手册、用户使用手册、概要设计手册等共计8本。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;7、参加项目的初验、终验报告会，并在报告会上对项目数据的梳理、发布等情况进行了汇报。<br>
                     
                    </div>
                </div>
            </div>
            <div class="box_b"></div>
            
            <div class="box_t"></div>
            <div class="box_m">
            	<div class="box_area">
                	<img class="fl inline xmImg" src="/img/xm/xm_s_02.png"/>
                    <a class="fl inline xmTitletop" style="">物联信息目录巡检系统</a>
                    <div class="xmText fl inline">
                         <b>开发周期：</b>2012年11月 ---- 2013年3月<br>
                         <b>项目备注：</b>项目升级、内网、已上线<br>
                         <b>责任描述：</b><br>
      &nbsp;&nbsp;&nbsp;&nbsp;1、开发巡检时间定制模块，通过管理人员对多时间段的灵活定制，使得巡检人员在规定的时间范围内，可进行巡检。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;2、开发定时报告生成模块，当巡检结束后，对已提交未生成的报告进行生成，并发送到负责人邮箱里。<br>
                    </div>
                </div>
            </div>
            <div class="box_b"></div>
            
            <div class="box_t"></div>
            <div class="box_m">
            	<div class="box_area">
                	<img class="fl inline xmImg" src="/img/xm/xm_s_03.png"/>
                    <a class="fl inline xmTitletop" style="">物联基础信息管理系统、物联信息目录管理系统</a>
                    <div class="xmText fl inline">
                    	 <b>开发周期：</b>2012年5月 ---- 2012年10月<br>
                         <b>项目备注：</b>数据梳理、修改问题、内网、已上线<br>
                         <b>责任描述：</b><br>
      &nbsp;&nbsp;&nbsp;&nbsp;1、学习使用公司物联网框架的使用，并在某部进行数据梳理。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;2、编写桥接文档用于与某公司的物联网示范工程进行数据桥接。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;3、根据第三方测试给出的BUG列表进行修改。<br>
                    </div>
                </div>
            </div>
            <div class="box_b"></div>
            
        </div>
    </div>
    <div class="foot">Yves个人网站&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/">京ICP备14019006号</a>&nbsp;&nbsp;|&nbsp;&nbsp;联系方式：18210088607&nbsp;&nbsp;|&nbsp;&nbsp;QQ:461836324&nbsp;&nbsp;|&nbsp;&nbsp;</div>
</div>
</body>
</html>
