<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>IT酷鱼网 | Yves个人作品网 | 信息 -- 20140501版</title>
<link href="/css/common.css" rel="stylesheet" type="text/css" />
<script src="/js/MyQuery.js" ></script>
<script src="/js/MyCommon.js" ></script>
<script>
$(function(){
	var iMenuNum = 1;
	toMenu(iMenuNum);//封装后的公共菜单事件
});
</script>
</head>

<body>
<div class="body">
	<div class="top">
		<div class="logo">
        	<div class="sc">
            	<div class="item">
    				<div>
                    	<a href="###">
                    		<div class="item_content" title="联系电话">
                        		18210088607
        					</div>
                        </a>
        				<a class="link">
            				<span>
                            	<img alt="" src="/img/top_4.png" style="margin-top:-28px;"></img>
                				<img alt="" src="/img/top_4.png"></img>
            				</span>
       					</a>
    				</div>
				</div>
                <div class="item">
    				<div>
	                    <a href="###">
    	                	<div class="item_content" title="我的QQ">
        		                QQ:461836324
        					</div>
                        </a>
        				<a class="link">
            				<span>
	                            <img alt="" src="/img/top_3.png" style="margin-top:-28px;"></img>
                				<img alt="" src="/img/top_3.png"></img>
            				</span>
       					</a>
    				</div>
				</div>
                <div class="item">
    				<div>
	                    <a href="###">
                    		<div class="item_content" title="我的姓名">
                        		于春宇
        					</div>
                        </a>
        				<a class="link">
            				<span>
	                            <img alt="" src="/img/top_2.png" style="margin-top:-28px;"></img>
                				<img alt="" src="/img/top_2.png"></img>
            				</span>
       					</a>
    				</div>
				</div>
                
            </div>
        </div>
		<div class="menu" id="menu">
			<ul>
				<li><a href="/homepage" style="background-image:url(/img/menu_homepage.png);"></a></li>
				<li><a href="/profile" style="background-image:url(/img/menu_personage.png);"></a></li>
				<li><a href="/blog" style="background-image:url(/img/menu_article.png);"></a></li>
				<li><a href="/works" style="background-image:url(/img/menu_cases.png);"></a></li>
				<li><a href="/message" style="background-image:url(/img/menu_communication.png);"></a></li>
			</ul> 
			<div class="menu_slider">
				<div class="menu_slider_bar" id="menuSliderBar"></div>
				<div class="menu_slider_pointer" id="menuSliderPointer"></div>
			</div>
		</div>
    </div>
    <div class="center">
    	<div class="clear"></div>
    	<div class="center_box">
            <div class="box_t"></div>
            <div class="box_m">
                <div class="box_area">
                    <img class="fl inline" src="/img/text_profile.png" />
                </div>
            </div>
            <div class="box_b"></div>
            
            <div class="box_t"></div>
            <div class="box_m">
            	<div class="box_area">
                	<img class="fl inline xmImg" src="/img/my_1.jpg"/>
                    <a class="fl inline xmTitletop" style="">嗨~你好，了解一下我的信息吧</a>
                    <div class="xmText fl inline">
                    	 <b>姓名：</b>于春宇<br>
                         <b>性别：</b>男<br>
                         <b>年龄：</b>25<br>
                         <b>QQ：</b>461836324<br>
                         <b>联系电话：</b>18210088607<br>
                         <b>电子邮件：</b>461836324@qq.com<br>
                         <b>籍贯：</b>黑龙江省哈尔滨市<br>
                         <b>现居住地：</b>北京昌平区天通苑<br>
                         <b>教育经历：</b>绥化学院<br>
                         <b>专业：</b>数学与计算科学学院(信息安全方向)  本科<br>
                         <b>工作经历：</b>中科软科技股份有限公司  2年<br>
                         <b>所在部门：</b>行业推广一部<br>
                         <b>职位：</b>javaWeb软件开发工程师<br>
                         <b>所获荣誉：</b>优秀员工成长进步奖<br>
                         <b>所做项目：</b>物联基础信息(信息目录)管理系统、物联信息目录巡检系统、环境保护部部门预算管理系统<br>
                         <b>自我评价：</b><br>
                         &nbsp;&nbsp;&nbsp;&nbsp;具有扎实深厚的计算机基础，同时深深热爱计算机行业。在以往的学习和工作中，练就了较强的程序调错能力，能够单独处理问题。本人勤奋刻苦，踏实稳重，喜欢突破常规，富于创新。对于项目的开发、部署具有一定的经验，通过一段工作经验积累，发现自己对前端技术的热爱，所以打算在未来的开发道路上，开发编写javascript代码，我的优势是对项目的流程具有一定了解，明白后台人员开发的需求，未来希望学习接触HTML5的APP游戏、应用的研发。
                    </div>
                </div>
            </div>
            <div class="box_b"></div>
            
        </div>
    </div>
    <div class="foot">Yves个人网站&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/">京ICP备14019006号</a>&nbsp;&nbsp;|&nbsp;&nbsp;联系方式：18210088607&nbsp;&nbsp;|&nbsp;&nbsp;QQ:461836324&nbsp;&nbsp;|&nbsp;&nbsp;</div>
</div>
</body>
</html>
