<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
*{margin:0; padding:0;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
input,textarea{outline:none; resize:none; border:none;}
body,html{ height:100%;background:#cccccc;overflow:hidden;font-family: "微软雅黑", "monaco", monospace;font-size: 14px;}
.title{
	text-align:center;
	height:40px;
	width:100%;
	background:#333333;
	color:#e5e5e5;
	line-height:40px;
	font-family: "微软雅黑";
	position:absolute;
	z-index:999;
}
.bg{
	width:600px;
	background:#ffffff;
	border:2px solid #FFF;
	margin:50px auto;
	box-shadow:5px 5px 10px #333333;
	overflow:hidden;
}
h1{
	font-size: 40px;
	line-height: 40px;
	width:100%;
	text-align:center;
}
.desc{
	margin-top:20px;
	margin-left:10px;
}
.fl{
	float:left;
}
.w400{
	width:400px;
	margin: 5px auto;
}
.w200{
	width:200px;
	margin: 5px auto;
}
.w200 h2{
	background:url(/opus/J_07/img/bg_csry.png) center no-repeat;
}
.w400 h2{
	background:url(/opus/J_07/img/bg_xslb.png) center no-repeat;
}
.w200 ul{
	width:160px;
	margin: 5px auto;
}
.w200 ul li{
	width:100%;
	height:25px;
	line-height:18px;
}
.w200 ul li img{
	width:19px;
	height:19px;
	line-height:19px;
	vertical-align:bottom;
	margin-right:20px;
	margin-left:20px;
}
.w400 table{
	margin-top:5px;
	width:380px;
}
h2{
	font-size: 15px;
	line-height: 36px;
	height:36px;
	width:100%;
	text-align:center;
}
</style>
</head>

<body>
<div class="title">
	DOM属性操作练习
</div>
<div class="bg">
	<h1>某中学阳光杯篮球赛</h1>
    <div class="desc">
		某中学阳光杯篮球赛已经进入到了最后一场了。<br />
		是冠军还是亚军，就在你的一念之间。<br />
		加油吧，为你的球队做最后一次安排。
	</div>
    <div class="fl w200">
    	<h2>参赛人员</h2>
        <ul>
        	<li><img src="img/bg_dz.png"/>张三</li>
            <li><img src="img/bg_dy.png"/>张三</li>
            <li><img src="img/bg_dy.png"/>张三</li>
            <li><img src="img/bg_dy.png"/>张三</li>
            <li><img src="img/bg_dy.png"/>张三</li>
        </ul>
    </div>
    <div class="fl w400">
    	<h2>学生列表</h2>
        <table bordercolor="#CDE0F5" cellspacing="0" border="1" cellpadding="0" >
        	<tr>
            	<th>
                	姓名
                </th>
                <th>
                	年龄
                </th>
                <th>
                	专业
                </th>
            </tr>
            <tr>
            	<td>
                	姓名
                </td>
                <td>
                	年龄
                </td>
                <td>
                	专业
                </td>
            </tr>
            <tr>
            	<td>
                	姓名
                </td>
                <td>
                	年龄
                </td>
                <td>
                	专业
                </td>
            </tr>
            <tr>
            	<td>
                	姓名
                </td>
                <td>
                	年龄
                </td>
                <td>
                	专业
                </td>
            </tr>
            <tr>
            	<td>
                	姓名
                </td>
                <td>
                	年龄
                </td>
                <td>
                	专业
                </td>
            </tr>
            <tr>
            	<td>
                	姓名
                </td>
                <td>
                	年龄
                </td>
                <td>
                	专业
                </td>
            </tr>
        </table>
        <ul>
        	<li>上一页</li>
            <li>第1页</li>
            <li>下一页</li>
        </ul>
    </div>

</div>
</body>
</html>
