<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>鼠标悬浮图片上下滚动切换</title>
<style>
*{margin:0; padding:0;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
input,textarea{outline:none; resize:none; border:none;}
body,html{ height:100%;background:#cccccc;overflow:hidden;}
.bg{
	width:1088px; 
	height:514px; 
	position:relative; 
	margin:80px auto;
	overflow:hidden;
	box-shadow:5px 5px 10px #333333;
}
.title{
	text-align:center;
	height:40px;
	width:100%;
	background:#333333;
	color:#e5e5e5;
	line-height:40px;
	font-family: "微软雅黑";
	position:absolute;
	z-index:999;
}
.bg ul li{
    width: 272px;
    height: 514px;
    float: left;
    overflow: hidden;
    position: relative;
}
.bg ul li .box1 {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
.toll_img {
    width: 272px;
    height: 514px;
}
.toll_info {
    height: 514px;
    vertical-align: middle;/*垂直对齐*/
}
</style>
<script src="/opus/J_03/js/jquery-1.7.2.js"></script>
<script>
$(function(){
	$('.box .box1').mouseover(function(){
        $(this).stop().animate({top : "-514px"}, 400); 
    })
    $('.box .box1').mouseout(function(){
        $(this).stop().animate({top : "0"}, 400); 
    })
});
</script>
</head>

<body>
<div class="title">
	鼠标悬浮图片上下滚动切换 利用jquery完成
</div>
<div class="bg">
	<ul class="box">
        <li>
            <div class="box1">
                <div class="toll_img">
                    <img width="272" height="514" src="/opus/J_03/img/in_img1.jpg"></img>
                </div>
                <div class="toll_info">
                    <img width="272" height="514" src="/opus/J_03/img/in_img1_ho.jpg"></img>
                </div>
            </div>
        </li>
		<li>
            <div class="box1">
                <div class="toll_img">
                    <img width="272" height="514" src="/opus/J_03/img/in_img2.jpg"></img>
                </div>
                <div class="toll_info">
                    <img width="272" height="514" src="/opus/J_03/img/in_img2_ho.jpg"></img>
                </div>
            </div>
        </li>
        <li>
            <div class="box1">
                <div class="toll_img">
                    <img width="272" height="514" src="/opus/J_03/img/in_img3.jpg"></img>
                </div>
                <div class="toll_info">
                    <img width="272" height="514" src="/opus/J_03/img/in_img3_ho.jpg"></img>
                </div>
            </div>
        </li>
        <li>
            <div class="box1">
                <div class="toll_img">
                    <img width="272" height="514" src="/opus/J_03/img/in_img4.jpg"></img>
                </div>
                <div class="toll_info">
                    <img width="272" height="514" src="/opus/J_03/img/in_img4_ho.jpg"></img>
                </div>
            </div>
        </li>
	</ul>
</div>
</body>
</html>
